/.phpunit.cache
/node_modules
/public/build
/public/Objective_To_Complete
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
taskpadidb-firebase-adminsdk-82h79-34d4246794.json
/resources/credentials/
/public/taskpadidb-default-rtdb-export.json
/public/jsoncrack.com.png
/public/jsoncrack.com.svg